@model IEnumerable<HabitanteViewModel>

@{
    ViewData["Title"] = "Habitantes";
}

<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Habitantes del Municipio de Chignautla</h1>
                    <br>
                    <a class="btn btn-success" asp-controller="Habitantes" asp-action="Crear">Crear nuevo</a>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Habitantes</a></li>
                        <li class="breadcrumb-item active">Inicio</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Lista de Habitantes</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Nombre(s)</th>
                                        <th>Apellido Paterno</th>
                                        <th>Apellido Materno</th>
                                        <th>Sexo</th>
                                        @*<th>Dirección</th>*@
                                        @*<th>Fecha Nacimiento</th>*@
                                        <th>Teléfono</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var habitante in Model)
                                    {
                                        <tr>
                                            <td>@habitante.Nombre</td>
                                            <td>@habitante.ApePat</td>
                                            <td>@habitante.ApeMat</td>
                                            <td>@habitante.Sexo</td>
                                            @*<td>@habitante.Direccion</td>*@
                                            @*<td>@habitante.FechaNac.ToString("dd/MM/yyyy")</td>*@
                                            <td>@habitante.Telefono</td>
                                            <td>
                                                <a class="btn btn-info" asp-controller="Habitantes" asp-action="Detalle" asp-route-IdHabitante="@habitante.IdHabitante">
                                                    <i class="bi bi-info-lg"></i>
                                                    Detalles
                                                </a>
                                                <a class="btn btn-warning" asp-controller="Habitantes" asp-action="Editar" asp-route-IdHabitante="@habitante.IdHabitante">
                                                    <i class="bi bi-pencil-square"></i>
                                                    Editar
                                                </a>

                                                <a class="btn btn-danger" asp-controller="Habitantes" asp-action="Eliminar" asp-route-IdHabitante="@habitante.IdHabitante">
                                                    <i class="bi bi-trash-fill"></i>
                                                    Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>

</div>