@model IEnumerable<ApoyoViewModel>

@{
    ViewData["Title"] = "Apoyos";
}

<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Apoyos Gubernamentales</h1>
                    <br>
                    <a class="btn btn-success" asp-controller="Apoyos" asp-action="Crear">Crear nuevo</a>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Apoyos</a></li>
                        <li class="breadcrumb-item active">Inicio</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Lista de Apoyos</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            @if (Model.Count() == 0)
                            {
                                <div class="card-header">
                                    <h3 class="card-title">No hay datos para mostrar</h3>
                                </div>
                            }
                            else
                            {
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>Cantidad</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var apoyo in Model)
                                        {
                                            <tr>
                                                <td>@apoyo.Nombre</td>
                                                <td>@apoyo.Descripcion</td>
                                                <td>@apoyo.Cantidad</td>
                                                <td>
                                                    <a class="btn btn-warning" asp-controller="Apoyos" asp-action="Editar" asp-route-IdApoyo="@apoyo.IdApoyo">
                                                        <i class="bi bi-pencil-square"></i>
                                                        Editar
                                                    </a>

                                                    <a class="btn btn-danger" asp-controller="Apoyos" asp-action="Eliminar" asp-route-IdApoyo="@apoyo.IdApoyo">
                                                        <i class="bi bi-trash-fill"></i>
                                                        Eliminar
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>

</div>